.investment-management {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .past-activity {
      flex: 2;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h2 {
        margin-bottom: 15px;
        color: #222; // Darker font color
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          color: #333; // Darker font color
  
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .total-amount {
        float: right; // Aligns the total amount to the right
        font-weight: bold; // Makes the total amount bold
        color: #333; // Darker font color for visibility
      }
    }
  
    .dashboard {
      flex: 1;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h2 {
        margin-bottom: 15px;
        color: #222; // Darker font color
      }
  
      p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #333; // Darker font color
      }
  
      div {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
          color: #444; // Darker font color
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-bottom: 10px;
          font-size: 16px;
        }
  
        button {
          width: 100%;
          padding: 12px;
          background-color: #add8e6; // Lighter color
          color: #222; // Darker font color
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s, transform 0.3s;
  
          &:hover {
            background-color: #87ceeb; // Slightly darker shade for hover
            transform: translateY(-2px);
          }
  
          &:active {
            background-color: #4682b4; // Even darker shade for active
            transform: translateY(0);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .investment-management {
      flex-direction: column-reverse;
      padding: 0px;
      background-color: white;
    }
  }